<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>

<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
      Book Exchange <img src="/static/book.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'index' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{%url 'displaybooks'%}">Display Books</a> <!-- Dropdown item -->
            <a class="dropdown-item" href="{%url 'postbook'%}">Post Books</a>  <!-- Dropdown item -->
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'aboutus' %}">About Us</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'messages' %}">Messages</a>
          </li>

        <!-- ... (other nav items) ... -->
      </ul>
      <form action="{% url 'search' %}" enctype="multipart/form-data" method="submit" novalidate class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search for a book.." name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<!-- Hero Section -->
<div class="jumbotron jumbotron-fluid" data-aos="fade-down">
  <div class="container center-text">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Our ambitions with sharing knowledge for everyone.</p>
  </div>
</div>

<!-- Content Sections -->
<div class="container">
  <!-- Start of a new row for "Our Mission" section and the card -->
  <div class="row mx-4 mh-100" data-aos="fade-up">
    <!-- Text Section "Our Mission" -->
    <div class="col-12 col-lg-8">
      <div class="text-container" data-aos="fade-up">
        <h2>Our Mission</h2>
        <p>To cultivate a community of avid readers and book enthusiasts who cherish the joy of reading and the value of sharing literature.</p>
      </div>
      <div class="text-container" data-aos="fade-up">
        <h2>Promote Literacy and Love for Reading</h2>
        <p>We aim to foster a love for reading among people of all ages and backgrounds. By exchanging books, we encourage members to explore a diverse range of genres and authors, broadening their literary horizons.</p>
      </div>
      <div class="text-container" data-aos="fade-up">
        <h2>Build a Community of Book Lovers</h2>
        <p>We strive to create a vibrant, inclusive community where members can connect, discuss, and share their passion for books. Through regular meetings, book discussions, and social events, we provide a platform for members to engage and form lasting friendships.</p>
      </div>
      <div class="text-container" data-aos="fade-up">
        <h2>Continuous Learning and Development</h2>
        <p>We believe that reading is a lifelong journey of learning and personal growth. Our club organizes workshops, author talks, and book club discussions to facilitate continuous learning and intellectual stimulation among our members.</p>
      </div>
      <div class="text-container" data-aos="fade-up">
        <h2>Support for Local Authors and Bookstores</h2>
        <p>We aim to support the local literary scene by promoting books by local authors and collaborating with local bookstores and libraries. This not only helps in nurturing local talent but also strengthens the community's cultural fabric.</p>
      </div>
    </div>
    <!-- Card Section -->
    <div class="col-4 d-none d-lg-block">
      <div class="card">
        <img src="{% static 'aboutus2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Contact Us!</h5>
          <p class="card-text">Email: bookex@books.com<br>Phone: 123-456-7890<br>Located: Los Angeles, near CSULA</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Repeat for other columns -->
</div>

<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3">
    © 2023 Book Exchange
    Created by: Sanskar, Sunheng, Evan, Norma, Curtis, George
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- AOS Animation library -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1200, // You can adjust the duration as needed
        once: false, // Whether animation should happen only once - while scrolling down
      });
    </script>
</body>
</html>
